@model BecomeClientFormModel

<form method="post">
    <div class="col-md-6 offset-md-3 col-sm-3 text-center bold">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Enter your username.">
        </div>
        <div class="form-group">
            <label asp-for="@Model.ProfilePictureUrl">Profile Picture</label>
            <input asp-for="@Model.ProfilePictureUrl" type="text" class="form-control" placeholder="Enter picture url.">
        </div>
        <div class="form-group">
            <label asp-for="@Model.Description">Description</label>
            <textarea asp-for="@Model.Description" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="@Model.AreFriendsPrivate">Friends visibility status:</label>
            <select asp-for="@Model.AreFriendsPrivate" class="form-control">
                <option value="false">Public</option>
                <option value="true">Private</option>
            </select>
        </div>
        <div class="form-group">
            <label asp-for="@Model.AreGamesPrivate">Games visibility status:</label>
            <select asp-for="@Model.AreGamesPrivate" class="form-control">
                <option value="false">Public</option>
                <option value="true">Private</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>