@model List<GameListingViewModel>

@if (Model.Count < 1)
{
    <h3 style="text-align: center;">
        Your library is empty. Why not purchase your first game
        <a class="btn btn-primary" asp-area="" asp-controller="Games" asp-action="All">Here</a>?
    </h3>
}
else
{
    @foreach (var game in Model)
    {<h1 style="text-align: center">Library</h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="margin-top: 10px; width: 370px; height: 325px;">
                    <div class="card-header" style="text-align: center; font-weight: bold; font-size: 150%;">
                        @game.Name
                    </div>
                    <div class="card-body">
                        <img src="@game.CoverImageUrl" class="img" style="height: 225px; width: 150px; float: left;" />
                        <div style="text-align: center; margin-top: 50px; margin-left: 165px;">
                            <h5 class="card-title">
                                @string.Join(", ", game.Genres)
                            </h5>
                            <p class="card-text">@game.PegiRating</p>
                            <a asp-area="" asp-controller="Games" asp-action="Details" asp-route-GameId="@game.Id" class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

