@model WishListViewModel

@if (Model.Games.Count() > 0)
{
    <div class="row">
        @foreach (var game in Model.Games)
        {
            <div class="col-sm-4">
                <div class="card" style="margin-top: 10px; width: 370px; height: 325px;">
                    <div class="card-header" style="text-align: center; font-weight: bold; font-size: 150%;">
                        @game.Name
                    </div>
                    <div class="card-body">
                        <img src="@game.CoverImageUrl" class="img" style="height: 225px; width: 150px; float: left;" />
                        <div style="text-align: center; margin-top: 50px; margin-left: 165px;">
                            <h5 class="card-title">
                                @string.Join(", ", game.Genres)
                            </h5>
                            <p class="card-text">@game.PegiRating</p>
                            <a asp-area=""
                               asp-controller="Clients"
                               asp-action="Gift"
                               asp-route-ClientId="@Model.OwnerId"
                               asp-route-GameId="@game.Id" class="btn btn-primary">Gift</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h1>This user's wish list is empty.</h1>
}