@model AllGamesViewModel

<h1 style="text-align: center">All Games</h1>

<form method="get">
    <div class="container">
        <div>
            <input asp-for="SearchQuery" class="form-control form-control-lg form-control-borderless" placeholder="Search...">
            <div style="text-align: center; margin-top: 5px;">
                <button asp-area="" asp-controller="Games" asp-action="All" asp-route-searchQuery="@Model.SearchQuery" class="btn btn-lg btn-primary" type="submit" style="t">Search</button>
            </div>
        </div>
    </div>
</form>

<div class="row">
    @foreach (var game in Model.Games)
    {
        <div class="col-sm-4">
            <div class="card" style="margin-top: 10px; width: 370px; height: 325px;">
                <div class="card-header" style="text-align: center; font-weight: bold; font-size: 150%;">
                    @game.Name
                </div>
                <div class="card-body">
                    <img src="@game.CoverImageUrl" class="img" style="height: 225px; width: 150px; float: left;" />
                    <div style="text-align: center; margin-top: 50px; margin-left: 165px;">
                        <h5 class="card-title">
                            @string.Join(", ", game.Genres)
                        </h5>
                        <p class="card-text">@game.PegiRating</p>
                        <a asp-area="" asp-controller="Games" asp-action="Details" asp-route-GameId="@game.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
