@model GameDetailsViewModel

<div class="container">
    <div class="card" style="margin-top: 10px; width: auto; height: auto;">
        <div class="card-header" style="text-align: center; font-weight: bold; font-size: 150%;">
            @Model.Name
        </div>
        <div class="card-body">
            <center>
                <iframe width="720" height="480" src="@Model.TrailerUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </center>
            <div style="text-align: center; margin-top: 20px;">
                <h5 class="card-title">@string.Join(", ", Model.Genres)</h5>
                <p>@Model.Description</p>
                <p class="card-text">@Model.PegiRating</p>
                <p style="float: left;"></p>
                <p style="float: right;"></p>
                <h6>Publisher: @Model.PublisherName</h6>
                <a asp-area="" asp-controller="Games" asp-action="All" class="btn btn-primary">PURCHASE @Model.Price$</a>
            </div>
        </div>
    </div>
</div>