@model HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/HomePage.css"/>

<div class="text-center">
    @await Component.InvokeAsync("ChooseUserTypePrompt")

    <div style="margin-bottom: 20px;">
        <div class="card text-center">
            <div class="card-header" style="font-weight: bold; font-size: 25px">
                Top Rated Games
            </div>
            <div class="card-body">
                @foreach (var game in Model.TopRatedGames)
                {
                    <div class="img-container">
                        <img src="@game.CoverImageUrl" class="image">
                        <a asp-area="" asp-controller="Games" asp-action="Details" asp-route-GameId="@game.GameId" class="overlay">
                            <div class="text">@game.Name</div>
                        </a>
                    </div>
                }
            </div>
            <div class="card-footer text-muted">
                <a asp-area="" asp-controller="Games" asp-action="All" asp-route-SortQuery="Rating" class="btn btn-primary">All Games By Rating</a>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 20px;">
        <div class="card text-center">
            <div class="card-header" style="font-weight: bold; font-size: 25px">
                Latest Games
            </div>
            <div class="card-body">
                @foreach (var game in Model.LatestGames)
                {
                    <div class="img-container">
                        <img src="@game.CoverImageUrl" class="image">
                        <a asp-area="" asp-controller="Games" asp-action="Details" asp-route-GameId="@game.GameId" class="overlay">
                            <div class="text">@game.Name</div>
                        </a>
                    </div>
                }
            </div>
            <div class="card-footer text-muted">
                <a asp-area="" asp-controller="Games" asp-action="All" asp-route-SortQuery="Newest" class="btn btn-primary">All Games By Release Date</a>
            </div>
        </div>
    </div>
</div>
